# vim temp files
*.swp
*.latexmain
.vscode/*

# The source material
Sources/*

# LaTeX temporary files
*.aux
*.log
*.toc

# Output files
*.dvi
*.pdf

# Beamer files
*.snm
*.vrb
*.nav
*.out

# Various
*.glo
*.idx
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.synctex.gz
*.fls
*.fdb_latexmk
